<div class="shortest-path">
  <div class="shortest-path__body">
    <div class="shortest-path__gps-points">
      <div
        class="shortest-path__gps-point"
        :class="{
          'shortest-path__gps-point_disabled': !points[num]
        }"
        v-for="(point, num) in 2"
        :key="`mandatory-point-${num}`"
      >
        <div class="shortest-path__gps-point-label text-label">
          <span>Point {{point === 1 ? 'A' : 'B'}}</span>
          <button
            class="shortest-path__gps-point-remove"
            v-if="points[num]"
            @click="removePoint(num)"
          >
            <icon
              :name="'Close'"
              :width="8"
              :height="8"
            />
          </button>
        </div>
        <div class="shortest-path__gps-point-input-wrapper">
          <input
            type="number"
            class="shortest-path__gps-point-input text-input"
            placeholder="lon"
            :disabled="!points[num]"
            @input="updatePoint(num, 0, event)"
            tabindex="0"
          >
        </div>
        <div class="shortest-path__gps-point-input-wrapper shortest-path__gps-point-input-wrapper_lat">
          <input
            type="number"
            class="shortest-path__gps-point-input text-input"
            placeholder="lat"
            :disabled="!points[num]"
            @input="updatePoint(num, 1, event)"
            tabindex="0"
          >
        </div>
      </div>
    </div>
    <div class="shortest-path__params">
      <div class="shortest-path__param">
        <div class="shortest-path__gps-point-label text-label">
          <span>Max radius</span>
        </div>
        <div class="shortest-path__gps-point-input-wrapper">
          <input
            type="number"
            class="shortest-path__gps-point-input text-input"
            tabindex="0"
            v-model="stateRadius"
            min="7"
            max="50"
          >
        </div>
      </div>
    </div>
    <div class="shortest-path__buttons">
      <button
        class="shortest-path__button shortest-path__button_active text-button"
        :disabled="points.length !== 2"
        @click="match"
      >
        find
      </button>
      <button
        class="shortest-path__button text-button"
        @click="clear"
      >
        clear
      </button>
    </div>
  </div>
  <loading class="shortest-path__loading" v-if="loading"/>
</div>