.toggle {
  margin-top: 14px;
  width: 16px;
  height: 21px;
  border-radius: var(--border-radius);
  background-color: var(--color-toggle-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle:focus {
  background-color: var(--color-toggle-background-focus);
}

.toggle svg {
  fill: var(--color-background);
}

.toggle__icon_flipped {
  transform: rotateZ(180deg);
}