.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.app__mapbox {
  z-index: 0;
}

.app__interface {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.app__loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}