.main-control {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.main-control__select {
  width: var(--interface-width);
  background-color: var(--color-background);
  height: 48px;
  border-bottom-right-radius: var(--border-radius);
}

.main-control__toggle {
  margin-top: 14px;
  width: 15px;
  height: 21px;
  border-radius: var(--border-radius);
  background-color: var(--color-toggle-background);
}