<div class="api-control" v-if="currentAPI">
  <map-matching v-if="currentAPI === 'mapmatch'" />
  <shortest-path v-if="currentAPI === 'shortest'" />
  <isochrones v-if="currentAPI === 'isochrones'" />
</div>