<div class="custom-select">
  <button class="custom-select__header" @click="toggle" tabindex="0">
    <div class="custom-select__content">
      <div class="custom-select__text">
        <span class="custom-select__placeholder text-select" v-if="!currentText">
          {{ placeholder }}
        </span>
        <span class="custom-select__value text-select" v-if="currentText">
          {{ currentText }}
        </span>
      </div>
      <icon
        class="custom-select__icon"
        :name="'TriangleDown'"
        :width="9"
        :height="4"
      />
    </div>
  </button>
  <div class="custom-select__options" v-if="opened">
    <button
      class="custom-select__option"
      v-for="(api, index) in apis"
      :key="`option-${index}`"
      @click="selectAPI(index)"
      tabindex="0"
    >
      <span class="custom-select__option-text text-select">
        {{ api.name }}
      </span>
    </button>
  </div>
</div>