.custom-select {
  width: var(--interface-width);
  background-color: var(--color-background);
  height: 48px;
  border-bottom-right-radius: var(--border-radius);
  overflow: hidden;
}

.custom-select__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
}

.custom-select__content {
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-select__placeholder {
  color: var(--color-secondary);
}

.custom-select__value {
  color: var(--color-primary);
}

.custom-select__icon svg {
  fill: var(--color-secondary);
}

.custom-select__option {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--color-border);

  display: flex;
  align-items: center;
}

.custom-select__option-text {
  padding: 0 16px;
  color: var(--color-primary);
}