html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  color: var(--color-primary);
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  background-color: var(--color-focus);
}

input[type=number], input[type=text] {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: transparent;
  padding: 4px 8px;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}

input:focus {
  background-color: var(--color-focus);
}

input::placeholder {
  color: var(--color-secondary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}