:root {
  --font-family: 'Nunito';

  --color-background: rgba(255, 255, 255, 0.9);
  --color-primary: rgba(0, 0, 0, 0.87);
  --color-secondary: rgba(0, 0, 0, 0.54);
  --color-disabled: rgba(0, 0, 0, 0.38);
  --color-border: rgba(0, 0, 0, 0.2);
  --color-toggle-background: rgba(0, 0, 0, 0.75);
  --color-toggle-background-focus: rgba(100, 100, 100, 0.75);
  --color-selected: rgba(0, 0, 0, 0.1);
  --color-focus: rgba(0, 0, 0, 0.05);

  --interface-width: 360px;
  --border-radius: 5px;
}