<div class="isochrones">
  <div class="isochrones__body">
    <div class="isochrones__gps-points">
      <div
        class="isochrones__gps-point"
        :class="{
          'isochrones__gps-point_disabled': !source
        }"
      >
        <div class="isochrones__gps-point-label text-label">
          <span>Source</span>
          <button
            class="isochrones__gps-point-remove"
            @click="removeSource"
            v-if="source"
          >
            <icon
              :name="'Close'"
              :width="8"
              :height="8"
            />
          </button>
        </div>
        <div class="isochrones__gps-point-input-wrapper">
          <input
            type="number"
            class="isochrones__gps-point-input text-input"
            placeholder="lon"
            :disabled="!source"
            @input="updateSource(0, event)"
            tabindex="0"
          >
        </div>
        <div class="isochrones__gps-point-input-wrapper isochrones__gps-point-input-wrapper_lat">
          <input
            type="number"
            class="isochrones__gps-point-input text-input"
            placeholder="lat"
            :disabled="!source"
            @input="updateSource(1, event)"
            tabindex="0"
          >
        </div>
      </div>
    </div>
    <div class="isochrones__params">
      <div class="isochrones__param">
        <div class="isochrones__gps-point-label text-label">
          <span>Max cost</span>
        </div>
        <div class="isochrones__gps-point-input-wrapper">
          <input
            type="number"
            class="isochrones__gps-point-input text-input"
            tabindex="0"
            v-model="maxCost"
            min="0"
          >
        </div>
      </div>
      <div class="isochrones__param">
        <div class="isochrones__gps-point-label text-label">
          <span>Nearest Radius</span>
        </div>
        <div class="isochrones__gps-point-input-wrapper">
          <input
            type="number"
            class="isochrones__gps-point-input text-input"
            tabindex="0"
            v-model="nearestRadius"
            min="0"
          >
        </div>
      </div>
    </div>
    <div class="isochrones__results">
      <div class="isochrones__results-title text-label">
        Result
      </div>
      <checkbox
        class="isochrones__results-option text-input"
        :label="'Points'"
        v-model="result.points"
      />
      <checkbox
        class="isochrones__results-option text-input"
        :label="'Polygons'"
        v-model="result.polygons"
      />
    </div>
    <div class="isochrones__buttons">
      <button
        class="isochrones__button isochrones__button_active text-button"
        :disabled="!source"
        @click="get"
      >
        get
      </button>
      <button
        class="isochrones__button text-button"
        @click="clear"
      >
        clear
      </button>
    </div>
  </div>
  <loading class="isochrones__loading" v-if="loading"/>
</div>