.isochrones {
  width: var(--interface-width);
  background-color: var(--color-background);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  padding: 16px 0;
  position: relative;
}

.isochrones__header {
  padding: 0 16px;
}

.isochrones__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}

.isochrones__gps-points {
  max-height: 344px;
  overflow: auto;
}

.isochrones__gps-point {
  color: var(--color-primary);
}

.isochrones__gps-point_disabled {
  opacity: 0.5;
}

.isochrones__gps-point-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isochrones__gps-point-remove {
  width: 16px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.isochrones__gps-point-remove svg {
  stroke: var(--color-secondary)
}

.isochrones__gps-point-input {
  width: 100%;
}

.isochrones__gps-point-input-wrapper_lat {
  margin-top: 4px;
}

.isochrones__params {
  display: flex;
  gap: 4px;
  align-items: center;
}

.isochrones__param {
  width: 100%
}

.isochrones__buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.isochrones__button {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 4px 13px;
}

.isochrones__button_active {
  background-color: var(--color-border);
}

.isochrones__button:disabled {
  opacity: .5;
  cursor: default;
}

.isochrones__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}