.checkbox {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0
}

.checkbox__input + * svg {
  stroke: transparent;
  stroke-width: 2;
}

.checkbox__input:checked + .checkbox__box {
  background-color: var(--color-border);
}

.checkbox__input:focus + .checkbox__box {
  box-shadow: 0 0 5px 0 var(--color-secondary);
}

.checkbox__input:checked + * svg{
  stroke: var(--color-secondary);
}

.checkbox__box {
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}