<label class="checkbox">
  <input
    type="checkbox"
    class="checkbox__input"
    :checked="modelValLocal"
    @change="change"
  >
  <div class="checkbox__box">
    <icon
      :width="17"
      :height="17"
      :name="'Check'"
    />
  </div>
  <span class="noselect">{{ label }}</span>
</label>