<div class="map-matching">
  <!-- <div class="map-matching__header text-map-matching-instruction">
    <span>Click on the map to add new GPS point or click on existing one to edit it</span>
  </div> -->
  <div class="map-matching__body">
    <div class="map-matching__gps-points">
      <div
        class="map-matching__gps-point"
        :class="{
          'map-matching__gps-point_disabled': !points[num]
        }"
        v-for="(point, num) in 3"
        :key="`mandatory-point-${num}`"
      >
        <div class="map-matching__gps-point-label text-label">
          <span>GPS #{{point}}</span>
          <button
            class="map-matching__gps-point-remove"
            v-if="points[num]"
            @click="removePoint(num)"
          >
            <icon
              :name="'Close'"
              :width="8"
              :height="8"
            />
          </button>
        </div>
        <div class="map-matching__gps-point-input-wrapper">
          <input
            type="number"
            class="map-matching__gps-point-input text-input"
            placeholder="lon"
            :disabled="!points[num]"
            @input="updatePoint(num, 0, event)"
            tabindex="0"
          >
        </div>
        <div class="map-matching__gps-point-input-wrapper map-matching__gps-point-input-wrapper_lat">
          <input
            type="number"
            class="map-matching__gps-point-input text-input"
            placeholder="lat"
            :disabled="!points[num]"
            @input="updatePoint(num, 1, event)"
            tabindex="0"
          >
        </div>
      </div>
      <div
        class="map-matching__gps-point"
        v-for="(point, index) in additionalPoints"
        :key="`additional-point-${index}`"
      >
        <div class="map-matching__gps-point-label text-label">
          <span>GPS #{{index + 4}}</span>
          <button
            class="map-matching__gps-point-remove"
            @click="removePoint(index + 3)"
          >
            <icon
              :name="'Close'"
              :width="8"
              :height="8"
            />
          </button>
        </div>
        <div class="map-matching__gps-point-input-wrapper">
          <input
            type="number"
            class="map-matching__gps-point-input text-input"
            placeholder="lon"
            @input="updatePoint(index + 3, 0, event)"
            tabindex="0"
          >
        </div>
        <div class="map-matching__gps-point-input-wrapper map-matching__gps-point-input-wrapper_lat">
          <input
            type="number"
            class="map-matching__gps-point-input text-input"
            placeholder="lat"
            @input="updatePoint(index + 3, 1, event)"
            tabindex="0"
          >
        </div>
      </div>
    </div>
    <div class="map-matching__params">
      <div class="map-matching__param">
        <div class="map-matching__gps-point-label text-label">
          <span>Max number of states</span>
        </div>
        <div class="map-matching__gps-point-input-wrapper">
          <input
            type="number"
            class="map-matching__gps-point-input text-input"
            tabindex="0"
            v-model="maxStates"
            min="1"
            max="10"
          >
        </div>
      </div>
      <div class="map-matching__param">
        <div class="map-matching__gps-point-label text-label">
          <span>Max radius</span>
        </div>
        <div class="map-matching__gps-point-input-wrapper">
          <input
            type="number"
            class="map-matching__gps-point-input text-input"
            tabindex="0"
            v-model="stateRadius"
            min="7"
            max="50"
          >
        </div>
      </div>
    </div>
    <div class="map-matching__buttons">
      <button
        class="map-matching__button map-matching__button_active text-button"
        :disabled="points.length < 3"
        @click="match"
      >
        match
      </button>
      <button
        class="map-matching__button text-button"
        @click="clear"
      >
        clear
      </button>
    </div>
  </div>
  <loading class="map-matching__loading" v-if="loading"/>
</div>