<div class="loading__wrapper">
  <svg
    width="100"
    height="100"
    viewBox="0 0 100 100"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    :style="{
      'width': `${size}px`,
      'height': `${size}px`
    }"
  >
    <circle cx="85" cy="15" r="12" fill="black" fill-opacity="0.45"/>
    <circle cx="50" cy="15" r="12" fill="black" fill-opacity="0.40"/>
    <circle cx="15" cy="15" r="12" fill="black" fill-opacity="0.35"/>
    <circle cx="15" cy="50" r="12" fill="black" fill-opacity="0.30"/>
    <circle cx="15" cy="85" r="12" fill="black" fill-opacity="0.25"/>
    <circle cx="50" cy="85" r="12" fill="black" fill-opacity="0.20"/>
    <circle cx="85" cy="85" r="12" fill="black" fill-opacity="0.15"/>
    <circle cx="85" cy="50" r="12" fill="black" fill-opacity="0.10"/>
  </svg>
</div>